body {
  --pg-white: #f3f3f4;
  --pg-dark: #17181a;
  --pg-green: #05c793;
  --pg-blue: #118ab2;
  --pg-deep-blue: #073b4c;
  --pg-pink: #ef476f;
  --pg-yellow: #ffd166;
  background-color: var(--pg-white);
  color: var(--pg-dark);
  font-family: 'Raleway', sans-serif;
  height: 100vh;
  width: 100%;
  margin: 0;
}

#root {
  height: 100vh;
}

.appcontainer {
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
}
