body {
  --pg-white: #f3f3f4;
  --pg-dark: #17181a;
  --pg-green: #1e555c;
  --pg-blue: #4a84e8;
  /* --pg-blue: #c9daf8; */
  --pg-pink: #e3879e;
  --pg-yellow: #ffd147;
  background-color: var(--pg-white);
  color: var(--pg-dark);
  font-family: 'Raleway', sans-serif;
  height: 100vh;
  width: 100%;
  margin: 0;
}

#root {
  height: 100vh;
}

.appcontainer {
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
}
